<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table th, td {
        border: 1px solid black;

    }
</style>
<body>
<a href="/">Home Page</a><br>
All Companies
<table >
    <tr >
        <th>Name</th>
        <th>Size</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    <tr th:each="com : ${companies}">
        <th th:text="${com.name}"></th>
        <th th:text="${com.size}"></th>
        <th th:text="${com.address}"></th>
        <th><a th:href="@{'/deleteCompany/' + ${com.id}}">Delete</a></th>
    </tr>
</table>
<br>

Add Company
<form action="/addCompany" method="post">
    <label>Name:</label><br>
    <input type="text" name="name"><br>
    <label>Size</label><br>
    <input type="number" name="size"><br>
    <label>Address</label><br>
    <input type="text" name="address"><br>
    <input type="submit" value="Add">
</form>

</body>
</html>