<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table th, td {
        border: 1px solid black;

    }
</style>
<body>
<a href="?lang=en">English</a> |
<a href="?lang=ru">Russian</a> |
<a href="?lang=hy">Armenian</a><br><br>
<a href="/">Home Page</a><br>
<h3 th:text="#{all.companies}"></h3>
<table >
    <tr>
        <th th:text="#{name}"></th>
        <th>Size</th>
        <th>Address</th>
        <th th:text="#{action}"></th>
    </tr>
    <tr th:each="com : ${companies}">
        <th th:text="${com.name}"></th>
        <th th:text="${com.size}"></th>
        <th th:text="${com.address}"></th>
        <th><a th:href="@{'/deleteCompany/' + ${com.id}}">Delete</a></th>
    </tr>
</table>
<br>

<h3 th:text="#{add.company}"></h3>
<form action="/addCompany" method="post">
    <label th:text="#{name}"></label><br>
    <input type="text" name="name"><br>
    <label th:text="#{size}"></label><br>
    <input type="number" name="size"><br>
    <label th:text="#{address}"></label><br>
    <input type="text" name="address"><br>
    <input type="submit" value="Add">
</form>

</body>
</html>