<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table th, td{
        border: 1px solid black;

    }
</style>
<body>
<a href="?lang=en">English</a> |
<a href="?lang=ru">Russian</a> |
<a href="?lang=hy">Armenian</a><br><br>
<a href="/" th:text="#{home.page}"></a>
<h3 th:text="#{all.employees}"></h3>
<table>
    <tr>
        <th th:text="#{name}"></th>
        <th th:text="#{surname}"></th>
        <th th:text="#{email}"></th>
        <th th:text="#{phone.number}"></th>
        <th th:text="#{salary}"></th>
        <th th:text="#{position}"></th>
        <th th:text="#{company}"></th>
        <th th:text="#{picture}"></th>
        <th th:text="#{action}"></th>
    </tr>

    <tr th:if="${employees!=null}" th:each="e: ${employees}">
        <td th:text="${e.name}"></td>
        <td th:text="${e.surname}"></td>
        <td th:text="${e.email}"></td>
        <td th:text="${e.phoneNumber}"></td>
        <td th:text="${e.salary}"></td>
        <td th:text="${e.position}"></td>
        <td th:text="${e.company.name}"></td>
        <td><img th:if="${!e.getPictures().isEmpty() && e.getPictures() != null}" th:src="@{/getImage(picName=${e.getPictures().get(0).name})}" width="100px">
            <img th:if="${e.getPictures().isEmpty() || e.getPictures() == null}" src="/static/default-non-user-no-photo-1.jpg" width="100px">
        </td>
        <td><a th:href="@{'/deleteEmployee/' + ${e.id}}">Delete</a></td>
    </tr>
</table>
<br>

<form action="/addEmployee" method="post" enctype="multipart/form-data">
    <label th:text="#{name}"></label><br>
    <input type="text" name="name"><br>
    <label th:text="#{surname}"></label><br>
    <input type="text" name="surname"><br>
    <label th:text="#{email}"></label><br>
    <input type="email" name="email"><br>
    <label th:text="#{phone.number}"></label><br>
    <input type="text" name="phoneNumber"><br>
    <label th:text="#{salary}"></label><br>
    <input type="number" name="salary"><br>
    <label th:text="#{position}"></label><br>
    <input type="text" name="position"><br>
    <label th:text="#{position}"></label><br>
    <select name="companyId">
        <option th:if="${companies!=null}" th:each="c:${companies}" th:value="${c.id}" th:text="${c.name}"></option>
    </select>
    <br>
    <input type="file" multiple name="pictures">
    <input type="submit" value="Add">
</form>
</body>
</html>